{% extends "layout.html" %}

{% block content %}
		<h1>Software Developers, Serving the Community</h1>


<p>SoftServ is a service that helps Software Developers connect with opportunities to give back to their communicty.</p>

<h3> For Organizations</h3>
<p>Sign up using the link in the top right to upload your opportunities, and begin looking through 100s of
qualified applicants today!</p>

<br><br>
<h3>For Developers</h3>
<p>Log in or sign up to find out about volunteering opportunties in your area! Our service is great for:</p>
<ul>
	<li>Sabbatical</li>
	<li>Paternity / Maternity leaves</li>
	<li>Switching industries</li>
</ul>

<br>
<h3>Sign up Today!</h3>

{% endblock content %}